@import "../../../scss/mixins";

.boardContainer {
  @include flexCenter(column);
  background-color: rgb(104, 250, 250);
  margin: 5rem auto;
  width: 100%;
  height: 80%;
  border: 1px solid black;
}
