@import "../../../scss/mixins";

.boardContainer {
  @include flexCenter(column);
  margin: 1rem auto;

  width: 100%;
  height: clamp(10rem, 70%, 80rem);
  border: 1px solid black;
  border-radius: 10px;
}
