.word {
  margin: 0.2rem;
  padding: 0.4rem;
  background-color: rgb(219, 254, 254);
  width: clamp(2rem, 80%, 40rem);
  min-height: 2.2rem;
  text-align: center;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}
.good {
  background-color: rgb(180, 253, 202);
}
