@import "../../scss/mixins";

.gameContent {
  height: 100%;
  width: 100%;
  position: relative;
}
.question {
  background-color: rgb(206, 251, 204);
  width: 100%;
  height: 2rem;
  text-align: center;
  padding-top: 0.5rem;
}
.wordsFlexContainer {
  @include flexCenter(column);
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 2.5rem);
  background-color: aquamarine;
}
