@import "../../scss/mixins";
.singleWord {
  @include flexCenter(column);
  text-align: center;
  font-size: x-large;

  margin: 0 1rem;
  border-radius: 50rem;

  &:hover {
    cursor: pointer;
  }
  &:nth-of-type(4n + 2) {
  }
  &:nth-of-type(4n + 1) {
  }
}

.selected {
  color: rgb(154, 154, 154);
}
.Bad {
  color: rgb(255, 0, 0);
}
.Good {
  color: rgb(32, 122, 32);
}
