.singleWord {
  text-align: center;
  font-size: x-large;
  margin: 1rem;
  border-radius: 50rem;
  width: 6rem;
  height: 1.5rem;
  &:hover {
    cursor: pointer;
  }
}
.selected {
  color: rgb(154, 154, 154);
}
