@import "../../../scss/mixins";
.fixed_header {
  width: clamp(22rem, 80%, 50rem);
  table-layout: fixed;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 1rem;
  tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 15rem;
    tr {
      background-color: rgba(255, 255, 255, 0.819);
    }
    tr:nth-child(even) {
      background-color: rgba(228, 233, 228, 0.675);
    }
  }
  thead {
    tr {
      display: block;
    }
  }
  thead {
    background: black;
    color: #fff;
  }
  th,
  td {
    padding: 5px;
    text-align: left;
    width: 200px;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
