@import "../../../scss/mixins";
@import "../../../scss/colors";
.formContainer {
  @include flexCenter(column);
  width: clamp(10rem, 80%, 40rem);
  height: 10rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
  background-color: $backgroundBlue;
}
